<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Projeto 2 - WEB 2</span>
    <span class="example-spacer"></span>
    <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" routerLink="users">face</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" routerLink="myprofile">person_pin</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" routerLink="timeline">timeline</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" routerLink="" (click)="cancel()">cancel</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>